body {
    font-family: 'Courier New', monospace;
    background-color: #ffffcc;
    color: #000000;
    margin: 0;
    padding: 0;
    line-height: 1.8;
}

header {
    max-width: 900px;
    margin: 0 auto;
    padding: 1.5rem 0 0.5rem 0;
}

header h1 {
    margin: 0;
    font-size: 2rem;
    color: #000000;
    font-style: italic;
}

header a {
    color: #000000;
    text-decoration: none;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem 3rem 3rem 3rem;
}


article {
    margin-bottom: 3rem;
}

article h1 {
    color: #000000;
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 0.2rem;
}

article h2 {
    color: #000000;
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 0.2rem;
}

article time {
    color: #505050;
    font-size: 0.9rem;
    font-style: italic;
    margin-bottom: 0.1rem;
}

article p {
    margin-top: 0.1rem;
}

code {
    font-family: 'Courier New', monospace;
    background-color: #ffffaa;
    color: #000000;
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
}

pre {
    background-color: #ffffaa;
    color: #000000;
    padding: 1.5rem;
    border-radius: 3px;
    overflow-x: auto;
}

pre code {
    background: none;
    padding: 0;
    color: #000000;
}

.highlight {
    background-color: #ffffaa !important;
    color: #000000 !important;
}

.highlight * {
    color: #000000 !important;
    background: transparent !important;
}

a {
    color: #000000;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    background-color: #000000;
    color: #ffffcc;
}