<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    {{ $css := resources.Get "css/style.css" }}
    {{ if $css }}{{ $css = $css | minify }}<link rel="stylesheet" href="{{ $css.Permalink }}">{{ end }}
    {{ partial "math-head.html" . }}
</head>
<body>
    <div class="wrap">
        {{ block "main" . }}{{ end }}
    </div>
    {{ partial "math-foot.html" . }}
</body>
</html>
